# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MongoDB
MONGO_USER=
MONGO_PASSWORD=

# Redis
REDIS_PASSWORD=

# Evolution
EVOLUTION_KEY=

# N8N
ENCRYPTION_KEY=

# Flowise
FLOWISE_USER=
FLOWISE_PASSWORD=
