# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MongoDB
MONGO_USER=
MONGO_PASSWORD=

# Redis
REDIS_PASSWORD=

# Evolution
EVOLUTION_KEY=

# N8N
ENCRYPTION_KEY=
VITE_N8N_LOCATION_WEBHOOK_URL="https://goatlike-rosena-lickerishly.ngrok-free.dev/webhook/GetLocation"
VITE_N8N_ORDER_STATUS_WEBHOOK_URL="https://goatlike-rosena-lickerishly.ngrok-free.dev/webhook/nextStep"
VITE_N8N_CREATE_ORDER_WEBHOOK_URL="https://goatlike-rosena-lickerishly.ngrok-free.dev/webhook/create/order"
VITE_N8N_FEEDBACK_WEBHOOK_URL="https://goatlike-rosena-lickerishly.ngrok-free.dev/webhook/getAvaliation"

# Flowise
FLOWISE_USER=
FLOWISE_PASSWORD=

# Ngrok
NGROK_AUTHTOKEN=
