# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# MongoDB
MONGO_USER=
MONGO_PASSWORD=

# Redis
REDIS_PASSWORD=

# Evolution
EVOLUTION_KEY=

# N8N
ENCRYPTION_KEY=
VITE_N8N_LOCATION_WEBHOOK_URL=
VITE_N8N_ORDER_STATUS_WEBHOOK_URL=
VITE_N8N_CREATE_ORDER_WEBHOOK_URL=

# Flowise
FLOWISE_USER=
FLOWISE_PASSWORD=
